div(class='login') admin
  //- div(ng-hide='isLoggedIn')
  div
    div password
      input(type='password' ng-model='password')
    a(href='' class='button' ng-hde='isLoggedIn' ng-click='login()') Log In
  a(href='' class='button' ng-show='isLoggedIn' ng-click='logout()') Log Out
  div(class='error' ng-show='error') {{error}}