div(class='row header') 
  div(class='logo') Portapoll
  div(login-window class='login-container')

div(class='body')
  ul(class='polls')
    li(ng-repeat='poll in polls' class='poll row item')
      a(href='#/polls/{{poll._id}}' class='col-sm-10 info') {{$index+1}}: {{poll.name}}
      div(class='col-sm-2 buttons' ng-show='isLoggedIn')
        a(href='' class='button' ng-click='deletePoll(poll)') Delete

div(class='row footer')
  a(href='#/polls/new' class='col-md-2 button' ng-show='isLoggedIn') New Poll