div(class='row header')
  input(type='text' class='title' ng-model='poll.name')

div(class='body')
  ul(class='options')
    li(class='option row item' ng-repeat='option in poll.pollOptions')
      input(type='text' class='col-md-11 info' ng-model='option.name')
      div(class='col-md-1 buttons')
        a(href='' class='button' ng-click='removeOption($index)') X

div(class='footer row')
  a(href='' class='button' ng-click='addOption()') Add Option

  a(href='' class='button' ng-click='savePoll()') Save

  a(href='/' class='button') Cancel