div(class='row header')
  input(type='text' class='title' ng-model='poll.name' get-focus)

div(class='body')
  ul(class='options')
    li(class='option row item' ng-repeat='option in poll.pollOptions')
      input(type='text' class='col-sm-11 col-xs-10 info' ng-model='option.name')
      div(class='col-sm-1 col-xs-2 buttons')
        a(href='' class='button' ng-click='removeOption($index)') X

div(class='footer row')
  a(href='' class='button' ng-click='addOption()') Add Option

  a(href='' class='button' ng-click='savePoll()') Save

  a(href='/' class='button') Cancel