div(class='row header')
  h2(class='title') {{poll.name}} {{poll._id}}

div(class='body')
  div(ng-show='hasVoted') This guy has already voted.

  div(class='options')
    div(ng-repeat='option in poll.pollOptions' class='option row')
      div(class='col-md-10 info')
        {{$index+1}}: {{option.name}} {{option.votes}}
      a(href='' class='col-md-2 vote button' ng-click='vote($index)') vote

div(class='footer row')
  a(href='/' class='button') All Polls