div(class='row header')
  h2(class='title') {{poll.name}}

div(class='body')
  ul(class='options')
    li(ng-repeat='option in poll.pollOptions' class='option row item')
      div(class='col-md-10 info')
        {{$index+1}}: {{option.name}} {{option.votes}}
      div(class='col-md-2 buttons')
        a(href='' class='vote button' ng-click='vote($index)') vote

div(class='footer row')
  a(href='/' class='col-md-2 button') All Polls