div(class='row header')
  h2(class='title') {{poll.name}} {{poll._id}}

div(class='body')
  div(ng-show='hasVoted') This guy has already voted.

  ul(class='options')
    li(ng-repeat='option in poll.pollOptions' class='option row item')
      div(class='col-md-10 info')
        {{$index+1}}: {{option.name}}
      div(class='col-md-2 votes')
        {{option.votes}}

div(class='row footer')
  a(href='/' class='button') All Polls