div(class='row header')
  h2(class='title') {{poll.name}} {{poll._id}}

div(class='body')

  div(piechart class='piechart row' data='poll')

  ul(class='options')
    li(ng-repeat='option in poll.pollOptions' class='option row item' ng-click='incr(option)')
      div(class='col-xs-10 info')
        {{option.name}}
      div(class='col-xs-2 votes')
        {{option.votes}}

div(class='row footer')
  a(href='/' class='button') All Polls