doctype html
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
html(ng-app='portapoll')
  head
    title= title
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    != css('style')
    != js('main')
  body
    div(ng-view class='container')