evenColours = {
  vote: {
    base: blue
    hover: darkblue
    active: navy
  }
}

oddColours = {
  base: #ecf0f1
  text: white
  vote: {
    base: #1abc9c
    hover: #36D7B7
    active: #16a085
  }
}

buttonColour(colours)
  background-color: colours.base
  color: white

  &:hover
    background-color: colours.hover
  &:active
    background-color: colours.active

stripe(colours)
  if colours.base
    background-color: colours.base
  .button
    buttonColour(colours.vote)