.login-module

  .big-window
    z-index: 10

    border-radius: 5px
    padding: 5px
    margin-top: 5px

    position: absolute
    right: 0

    background-color: orange

    .password-info
      font-size: 12px

    .error
      background-color: #FF5656
      border-radius: 5px
      padding: 5px

    .logout
      white-space: nowrap

  .small-window
    border-radius: 5px
    padding: 2px
    
    display: inline-block
    background-color: #1abc9c

    color: white