//= require lib/bootstrap.min

@import colours
@import login
@import results

html, body
  height: 100%
  background-color: #ecf0f1

border-radius = 5px

.container
  background-color: #86E2D5
  // background-color: #86E2D5
  border-radius: border-radius

[class*="col-"]
  padding-left: 20px
  padding-right: 20px
  padding-top: 15px
  padding-bottom: 15px

  &.buttons
    padding-left: 10px
    padding-right: 7px
    padding-top: 7px
    padding-bottom: 7px

a.button
  text-align: center
  text-decoration: none

.title
  text-align: center

.header
  padding: 15px
  position: relative

  .login-container
    position: absolute
    top: 15px
    right: 15px

.body
  padding: 15px

.footer
  padding: 15px

  .button
    color: white
    background-color: gray
    border-radius: border-radius
    font-size: 20px
    padding: 10px 10px
    margin: 0 15px

    background-color: salmon

  // .button:nth-child(odd)
  //   background-color: salmon

ul
  list-style-type: none
  padding: 0

.poll .info
  text-decoration:none

li.item
  stripe(oddColours)

  font-size: 25px
  margin-top: 10px
  margin-bottom: 10px
  border-radius: border-radius

  input[type="text"]
    background: transparent
    border: none

  .button
    display: block
    border-radius: border-radius
    padding-top: 8px
    padding-bottom: 8px

input[type="text"].title
  font-size: 25px
  width: 100%
  background: transparent
  border: none